:root {
  background: #000;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #000;
}

#app {
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
}

canvas {
  display: block;
  position: absolute;
  inset: 0;
  pointer-events: none;
}
